table.composition {
  border: none;
}

table.composition td {
  width: 25%;
  border: none;
  border-right: 1px solid black;
}

table.composition td:last-child {
  border-right: none;
}

table.composition.bhatkhande-hindi td > code {
  white-space: pre;
  font-family: 'ome_bhatkhande_hindi';
}
